{
  "vault_default_admin_password": "CHANGE_ME_PRODUCTION_PASSWORD",
  "vault_mysql_root_password": "CHANGE_ME_MYSQL_ROOT_PASSWORD",
  "vault_mysql_password": "CHANGE_ME_MYSQL_PASSWORD",
  "vault_keystore_password": "CHANGE_ME_KEYSTORE_PASSWORD",
  "vault_conf_master_password": "CHANGE_ME_CONF_MASTER_PASSWORD",
  "vault_moodle_password": "CHANGE_ME_MOODLE_PASSWORD",
  "vault_grafana_admin_password": "CHANGE_ME_GRAFANA_PASSWORD",
  "vault_auth_combination_hash": "$apr1$g1l98bst$jdtcw24uRq/wIEcfFRCQY0",
  "vault_azuracast_mysql_password": "CHANGE_ME_AZURACAST_MYSQL_PASSWORD",
  "vault_azuracast_mysql_root_password": "CHANGE_ME_AZURACAST_ROOT_PASSWORD",
  "vault_azuracast_letsencrypt_email": "admin@inethilocal.net",
  "vault_wordpress_db_password": "CHANGE_ME_WORDPRESS_DB_PASSWORD",
  "vault_wordpress_db_root_password": "CHANGE_ME_WORDPRESS_ROOT_PASSWORD",
  "vault_radiusdesk_db_password": "CHANGE_ME_RADIUSDESK_DB_PASSWORD",
  "vault_radiusdesk_db_root_password": "CHANGE_ME_RADIUSDESK_ROOT_PASSWORD"
}

