<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Access Required</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
             <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            <h1>⚠ Network Access Restricted</h1>
            <p>It seems you have run out of data.</p>
            <p>Please top-up using your app</p>
            <p class="small">Your connection is being managed by the Open5GS-NAS.</p>
        </div>
    </div>

   <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
</body>
</html>
